{# Components Index - Import all components here for easy access #}
{# Usage: {% from 'components/__init__.html' import ... %} #}

{# Common Components #}
{% from 'components/common/button.html' import neon_button %}
{% from 'components/common/input.html' import neon_input, neon_textarea %}
{% from 'components/common/card.html' import neon_card, neon_post_card, neon_card_header, neon_card_body, neon_card_footer %}
{% from 'components/common/modal.html' import neon_modal %}
{% from 'components/common/avatar.html' import neon_avatar %}
{% from 'components/common/badge.html' import neon_badge, neon_notification_badge %}
{% from 'components/common/dropdown.html' import neon_dropdown, neon_dropdown_item %}
{% from 'components/common/toast.html' import * %}

{# Layout Components #}
{% from 'components/layout/skeletons.html' import post_skeleton, feed_skeleton, profile_header_skeleton, card_skeleton, avatar_skeleton, list_item_skeleton, grid_skeleton, notification_skeleton, comment_skeleton %}


